<h1>Contact List</h1>

<form action="/" method="post">
  First name:<br>
  <input type="text" name="first_name" value="">
  <br>
  Last name:<br>
  <input type="text" name="last_name" value="">
  <br><br>
  Job title:<br>
  <input type="text" name="job_title" value="">
  <br><br>
  Company:<br>
  <input type="text" name="company" value="">
  <br><br>
  Contact Type:<br>
  <input type="text" name="contact_type" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>


<div>
  <ul>

    <% @contact_list.each do |contact|   %>
    <li id="<%= contact.contact_id %>"> <a href="/contact/<%= contact.contact_id %>">      <%= contact.full_name %> </a></li>
    <% end %>


  </ul>

</div>
